<div class="row">
    <div class="col-lg-4 col-8 offset-2 offset-lg-0">
        <div class="card">
            <div class="card-header text-center">
                <img src="/css/img/fullstkicon.png" class="" style="height:198px; width:176px" />
                <h5>Full Stack Development</h5>
                <hr />
                <p>Fully build software solutions, fully customized to the need of the client. <br /> Android &bull;	 IOS &bull;	 Web &bull;	 Desktop<br /><br /></p>
                <h5></h5>
            </div>

        </div>
    </div>
    <div class="col-lg-4 col-8 offset-2 offset-lg-0">
        <div class="card">
            <div class="card-header text-center">
                <img src="/css/img/response.jpg" class="" style="height:198px; width:176px" />
                <h5>Responsive Designs</h5>
                <hr />
                <p>Almost every new client these days wants a mobile version of their website. It’s practically essential after all. I strive to make any design work on any device.</p>
            </div>

        </div>
    </div>
    <div class="col-lg-4 col-8 offset-2 offset-lg-0">
        <div class="card">
            <div class="card-header text-center">
                <img src="/css/img/csharpicon.png" class="" style="height:198px; width:176px" />
                <h5>Specialized .Net developer</h5>
                <hr />
                <p>Being specialized in .Net, i have a broad toolset for every kind of job.<br /> .Net is evolving fast, and i keep up with the latest technologies.</p>
            </div>

        </div>
    </div>
</div>


@code {

}
