@inherits LayoutComponentBase
<div class="container-fluid p-0" style="overflow:hidden;">
    <div class="row p-0">
        <div class="col-12">
            <div class="my-top-main">
                <div class="row" style="height:25%">
                    <div class="col-md-4 d-none d-md-block">
                        <div class="row" style="margin-top:30px; margin-left:20px; white-space: nowrap">
                            <div class="flex-column col-md-10 d-none d-md-block" style="">
                                <a style="border:none" href="https://www.linkedin.com/in/nichlas-christensen-6b8817154/"><img src="/css/img/LI-In-Bug.png" class="flex" style="width:42px; height:42px; top:5px; position:relative" /></a>

                                <p style="font-size:26px;display:inline; position:relative;">Nichlas Christensen<br /></p>
                                <i style="padding-left:67.5px; bottom:10px; position:relative; color:white">Full Stack Developer</i>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-5 d-none d-md-block">

                    </div>
                    <div class="col-md-3 col-sm-12 justify-content-end text-md-right text-center float-md-left" style="">
                        <a href="/">About</a>
                        <a href="portfolio/portfolio">Portfolio</a>
                        <a href="/contact">Hire Now</a>
                        <a href="/login" class="oi oi-account-login"></a>

                    </div>
                </div>
                <div class="row" style="height:75%">
                    <div class="col-12  text-center" style="top:120px">
                        <p style="font-size:40px">Nillertron.com</p>
                        <p>Responsive Design, C#, Html, Javascript, SQL and more...</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="row" style="height:10rem">

    </div>

    <div class="row">

        <div class="col-md-8 col-12 offset-md-2 offset-sm-0">
            @Body
        </div>

    </div>

</div>


        


